* {
    box-sizing: border-box;
}

body {
    background: #333;
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    color: white;
}

.page {
    min-height: 90vh;
    overflow: hidden;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.circle-carousel {
    position: relative;
    padding-top: 100%;
    background: rgba(black, .3);

    .slides {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0;
        background: rgba(red, .3);

        &.active {
            z-index: 1;
            opacity: 1;
        }
    }

    .pagination {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 90%;
        height: 90%;
        border-radius: 50%;
        border: 3px solid white;
        transition-property: transform;
        transition-timing-function: ease-out;
        // transition-timing-function: cubic-bezier(.5,-.5,.5,1.5);
        pointer-events: none;
        user-select: none;

        .dot {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            pointer-events: auto;
            transition: .3s;
            background: black;

            &:hover {
                transform: translate(-50%, -50%) scale(1.05);
                cursor: pointer;
                background: white;
                color: black;
            }
        }

        .item {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;

            &.active {
                .dot {
                    background: white;
                    color: black;
                }
            }
        }
    }

    .next,
    .prev {
        position: absolute;
        bottom: 6%;
        z-index: 1;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: .3em;
        transition: .3s;
        user-select: none;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);
            border-style: solid;
            border-color: transparent black;
            transition: .3s;
        }

        &:hover {
            cursor: pointer;
            color: black;

            &:before {
                border-color: transparent white;
                transform: translate(-50%, -50%) scale(1.05);
            }
        }
    }

    .next {
        right: 5%;

        &:before {
            left: 65%;
            border-width: 30px 0 30px 70px;
        }
    }

    .prev {
        left: 5%;

        &:before {
            left: 35%;
            border-width: 30px 70px 30px 0;
        }
    }
}