.circle-carousel {
  position: relative;
  padding-top: 100%;
}
.circle-carousel .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.circle-carousel .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
}
.circle-carousel .slide.active {
  z-index: 1;
  opacity: 1;
}
.circle-carousel .pagination {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: 3px solid white;
  transition-property: transform;
  transition-timing-function: ease-out;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 1200px) {
  .circle-carousel .pagination {
    width: 80%;
    height: 80%;
  }
}
@media (max-width: 992px) {
  .circle-carousel .pagination {
    width: 90%;
    height: 90%;
  }
}
.circle-carousel .pagination .dot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  width: auto;
  border-radius: 50%;
  pointer-events: auto;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.6);
  padding: 2px;
  border-radius: 10px;
}
@media (max-width: 1200px) {
  .circle-carousel .pagination .dot {
    height: 60px;
  }
}
@media (max-width: 992px) {
  .circle-carousel .pagination .dot {
    height: 50px;
  }
}
@media (max-width: 768px) {
  .circle-carousel .pagination .dot {
    height: 40px;
  }
}
@media (max-width: 576px) {
  .circle-carousel .pagination .dot {
    height: 30px;
  }
}
.circle-carousel .pagination .dot:hover {
  transform: translate(-50%, -50%) scale(1.2);
  background: rgb(255, 255, 255);
  cursor: pointer;
  color: black;
}
.circle-carousel .pagination .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-carousel .pagination .item.active .dot {
  background: white;
  color: black;
}
.circle-carousel .next,
.circle-carousel .prev {
  position: absolute;
  bottom: 6%;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.circle-carousel .next:before,
.circle-carousel .prev:before {
  content: "";
  position: absolute;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-color: transparent #171717;
  transition: 0.3s;
}
.circle-carousel .next:hover,
.circle-carousel .prev:hover {
  cursor: pointer;
  color: black;
}
.circle-carousel .next:hover:before,
.circle-carousel .prev:hover:before {
  border-color: transparent white;
  transform: translate(-50%, -50%) scale(1.05);
}
.circle-carousel .next {
  right: 5%;
}
.circle-carousel .next:before {
  left: 65%;
  border-width: 50px 0 50px 120px;
}
.circle-carousel .prev {
  left: 5%;
}
.circle-carousel .prev:before {
  left: 35%;
  border-width: 50px 120px 50px 0;
}/*# sourceMappingURL=circleCarousel.css.map */