.circle-carousel {
  position: relative;
  padding-top: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.circle-carousel .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.circle-carousel .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
}
.circle-carousel .slide.active {
  z-index: 1;
  opacity: 1;
}
.circle-carousel .pagination {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: 3px solid white;
  transition-property: transform;
  transition-timing-function: ease-out;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.circle-carousel .pagination .dot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: auto;
  border-radius: 50%;
  pointer-events: auto;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.6);
  padding: 2px;
  border-radius: 10px;
}
@media (max-width: 1399px) {
  .circle-carousel .pagination .dot {
    height: 40px;
  }
}
@media (max-width: 1199px) {
  .circle-carousel .pagination .dot {
    height: 40px;
  }
}
@media (max-width: 991px) {
  .circle-carousel .pagination .dot {
    height: 30px;
  }
}
@media (max-width: 767px) {
  .circle-carousel .pagination .dot {
    height: 40px;
  }
}
@media (max-width: 575px) {
  .circle-carousel .pagination .dot {
    height: 35px;
  }
}
@media (max-width: 575px) {
  .circle-carousel .pagination .dot {
    height: 30px;
  }
}
.circle-carousel .pagination .dot:hover {
  transform: translate(-50%, -50%) scale(1.2);
  background: rgb(255, 255, 255);
  cursor: pointer;
  color: black;
}
.circle-carousel .pagination .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-carousel .pagination .item.active .dot {
  background: white;
  color: black;
}
.circle-carousel .next,
.circle-carousel .prev {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  margin-top: -31px;
  z-index: 90;
}
.circle-carousel .next:hover,
.circle-carousel .prev:hover {
  cursor: pointer;
}
.circle-carousel .next:hover:before,
.circle-carousel .prev:hover:before {
  border-color: transparent white;
  transform: translate(-50%, -50%) scale(1.05);
}
.circle-carousel .next:active,
.circle-carousel .prev:active {
  color: rgb(207, 207, 207);
}
.circle-carousel .next {
  right: 20%;
  border-bottom: 6px solid;
  border-left: 6px solid;
  transform: rotate(-135deg);
}
.circle-carousel .next:active {
  transform: translate(-10%, -10%) scale(-1.2);
}
.circle-carousel .prev {
  left: 20%;
  border-bottom: 6px solid;
  border-left: 6px solid;
  transform: rotate(45deg);
}
.circle-carousel .prev:active {
  transform: translate(10%, 10%) scale(1.2);
}/*# sourceMappingURL=circleCarousel.css.map */