@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../styles/swiper/swiper";
@import "../styles/circleCarousel/circleCarousel";
@import "../styles/zoom/zoom.scss";
@import "../styles/zoom/bgSgape.scss";

.body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.section-img {
    z-index: 0;
    transition: transform 0.3s, box-shadow 0.3s;


    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    }
}

#experience {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('../img/exp.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#projects {
    background: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url('../img/projects.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

section {
    min-height: 50vh;
}

nav {
    -moz-box-shadow: 0 .1px .1px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 .1px .1px rgba(255, 255, 255, 0.4);
    box-shadow: 0 .1px .1px rgba(255, 255, 255, 0.4);
}

.img {
    transition: transform ease-in-out 0.5s;
}

footer {
    padding: 2rem 0 2rem 0;
}

.cf {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}



.quote {
    max-width: 450px;
    margin: 0 auto;

    .speechbubble {
        position: relative;
        background-color: lighten($dark, 10%);
        color: $secondary;
        line-height: 1.75;
        padding: 15px 25px;
        margin-bottom: 75px;
        cursor: default;

        //  Border and arrow left
        &:nth-child(2n) {
            border-left: 5px solid;
        }

        &:nth-child(2n):after {
            content: '';
            margin-top: -30px;
            padding-top: 0px;
            position: relative;
            bottom: -45px;
            left: 20px;
            border-width: 30px 0 0 30px;
            border-style: solid;
            border-color: lighten($dark, 10%) transparent;
            display: block;
            width: 0;
        }

        //  Border and arrow right
        &:nth-child(2n+1) {
            border-right: 5px solid;
        }

        &:nth-child(2n+1):after {
            content: '';
            margin-top: -30px;
            padding-top: 0px;
            position: relative;
            bottom: -45px;
            left: 350px;
            border-width: 30px 30px 0 0;
            border-style: solid;
            border-color: lighten($dark, 10%) transparent;
            display: block;
            width: 0;
        }

        &:nth-child(n) {
            //border-color: hsla(random(365), random(365), 50, 1);
            border-color: $primary;
        }

        // Quotation symbols
        p:before {
            content: "“";
            font-family: Georgia;
            font-size: 40px;
            line-height: 0;
            display: inline-block;
            display: -webkit-inline-box;
        }

        p:after {
            content: "”";
            position: absolute;
            bottom: 15px;
            font-family: Georgia;
            font-size: 40px;
            line-height: 0;
            display: inline-block;
            display: -webkit-inline-box;
        }

        .username {
            display: inline;
            font-style: italic;
            float: right;

            &:before {
                content: '~ ';
            }
        }
    }
}